
.terms-page {
  background-image: url("https://storage.123fakturera.se/public/wallpapers/sverige43.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.terms-header {
  text-align: center;
  padding: 1rem 1rem;
  color: white;
  max-width: 100%;
}


.language img {
  max-width: 27px;
  height: 18px;
  border-radius: 3px;
  margin-left: 6px;
  vertical-align: middle;
}

.back-button {
  background-color: rgb(8, 158, 30);
  color: white;
  font-size: 1rem;
  border: none;
  border-radius: 25px;
  margin-top: 20px;
  margin-bottom: 40px;
  cursor: pointer;
  width: 35vw;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 40px;
  padding-right: 40px;
  min-width: max-content;
  max-width: 270px;
}

.terms-content {
  background-color: white;
  margin: 2.3rem;
  margin-top: -1rem;
  border-radius: 20px;
  max-width: 840px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
  font-weight: 500;
  line-height: 1.6em;
  font-size: 16px;
  font-family: "Open Sans", sans-serif !important;
  text-align: center;
  transition: width 600ms ease-in-out;
  padding: 40px 40px 40px 40px;
  color: rgba(0, 0, 0, 0.6);
}

.term{
  font-size: 1.7rem;
}

.botm{
  background-color: rgb(8, 158, 30);
  color: white;
  font-size: 1rem;
  border: none;
  border-radius: 25px;
  margin-top: 20px;
  margin-bottom: 40px;
  cursor: pointer;
  width: 35vw;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 40px;
  padding-right: 40px;
  min-width: max-content;
  max-width: 270px;
}

@media (max-width: 1270px) {
  .terms-content{
    max-width: 750px;
    font-size: 15px;
  }
  .back-button {
    margin-top: 20px;
    margin-bottom: 45px;
    font-size: 1.1rem;
    width: 50%;
  }
  .term{
    margin-top: 25px;
    margin-bottom: 5px;
    font-size: 1.5rem;
  }
}

@media (max-width: 675px) {
  .terms-content {
    margin: 2rem;
    font-size: 14px;
    padding: 40px;
  }
  .back-button {
    margin-top: 20px;
    margin-bottom: -20px;
    font-size: 1.1rem;
    width: 50%;
  }
  .term{
    margin-top: 15px;
    margin-bottom: -5px;
    font-size: 1.5rem;
  }
}

@media (max-width: 500px) {
  .terms-content {
    font-size: 14px;
    margin: 1.5rem;
    padding: 40px;
  }
  .back-button {
    margin-top: 20px;
    margin-bottom: -35px;
    font-size: 1.1rem;
    border-radius: 50px;
    width: 50%;
  }
  .term{
    margin-top: 15px;
    margin-bottom: -5px;
    font-size: 1.5rem;
  }
}